<section>
    <h2>My projects</h2>
    <div id="projects">
        <!-- x. Project -->       
    </div>
    <div>
        <div>
            <!-- Project names --> 
            <h3 id="project-title"></h3>
            <div>
                <!-- Technologie list -->
                <p>Technologies: </p><p id="project-techlist"></p>
            </div>
            <div>
                <!-- Duration -->
                <p>Duration: </p><p id="project-duration"></p>
            </div>
        </div>
    </div>
    <img src="" alt="" id="pjroject-img">
    <!-- Project descriptions -->
    <div id="project-descriptions"></div>
    <div>
        <a href="" target="_blank" id="live-test">Live test</a>
        <a href="" target="_blank" id="live-github">GitHub</a>
    </div>
</section>
