@use '../../../styles/variables' as *;
@use '../../../styles/typography';
@use '../../../styles/basic';

.special-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0;
    padding: 0;
    padding-top: 62px;
    padding-bottom: 32px;
    >h2{
        padding-bottom: 24px;
    }
}

.project-base{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-img{
    width: 270px;
    height: 167px;
    border-radius: 24px;
}

.project-icon{
    width: 24px;
    aspect-ratio: 1/1;
}

.position-lables{
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.project-techlist{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    &_desktop{
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 16px;
        padding-bottom: 24px;
    }
}

.project-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;
    padding-left: 24px;
    padding-bottom: 24px;
}

.project-descriptions{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;
}

.align{
    &_left{
        width: 100%;
        align-items: start;
    }
}

.shape{
    &_bg{
        width: 100%;
        border-radius: 0 50px 50px 50px;
        background-color: $overlay;
        gap: 24px;
        padding: 24px 0;
    }
    &_bg-alt-neutral{
        width: 100%;
        border-radius: 50px;
        background-color: $overlay; 
        gap: 24px;
        padding: 24px 0;   
    }
    &_bg-alt-back{
        width: 100%;
        border-radius: 50px 0 50px 50px;
        background-color: $overlay;
        gap: 24px;
        padding: 24px 0;    
    }
    &_lable{
        border-radius: 20px 20px 0 0;
        background-color: $background;
        color: $primary;
        padding: 24px;
        margin: 0;
        &:hover{
            color: $secondary;
        }
    }
}

.small-font{
    font-size: 1rem;
    padding-left: 24px;
}

@media (min-width:1100px){
    .project-img{
        width: 75%;
        height: fit-content;
        border-radius: 24px;
    }

    .project-base{
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: start;
    }

    .project-details{
        padding-left: 64px;
    }

    .project-techlist{
        align-items: center;
    }

    .shape{
        &_bg{
            width: 100%;
            border-radius: 0;
            background-color: $overlay;
        }
        &_bg-alt-neutral{
            width: 100%;
            border-radius: 0;
            background-color: $overlay;    
        }
        &_bg-alt-back{
            width: 100%;
            border-radius: 0;
            background-color: $overlay;    
        }
        &_lable{
            min-width: 124px;
            min-height: 23px;
            border-radius: 20px 20px 0 0;
            background-color: $background;
            color: $primary;
            padding: 24px;
            margin: 0;
            margin-left: 48px;
            &:hover{
                color: $secondary;
            }
        }
    }
}