@use '../../../styles/variables' as *;
@use '../../../styles/typography';
@use '../../../styles/basic';

.text-wrapper{
    width: 240px;
    height: 124px;
    display: flex;
    overflow-y: scroll;
    flex-wrap: wrap;
    font-size: 1rem;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.hidden{
    display: none;
}

.bg{
    height: 380px;
    aspect-ratio: 1 / 1;
    background-image: url("../../../../public/assets/img/interface-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    &:hover{
        background-image: url("../../../../public/assets/img/interface-bg2.png");
        transition: 0.5s;
    }
}

.recommendation{
    &_base{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &_list{
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }
}

@media(max-width:1100px){
    .recommendation{
        &_list{
            max-width: 88vw;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 32px;
            overflow-x: scroll;

            //scroll-margin-inline-start: 1000px;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .subheadline{
        font-size: 1.1rem;
    }
}