<section id="recommendations">
    <p class="color_primary">Need a teamplayer? Here’s what my colleagues say about me</p>
    <div class="recommendation_list" id="recommendation-list">
        <!--@for (reco of myRecommendation; track $index) {}-->
        <div class="column bg">
            <p>NAME</p>
            <div class="row">
                <p>Projects: </p>
                <p class="color_primary">PROJECT</p>
            </div>
            <span class="text-wrapper">reco reco reco reco reco reco reco reco reco reco reco reco reco reco reco reco reco reco reco reco </span>
            <a class="color_primary" href="">Linked In Profile</a>
        </div>
    </div>
</section>