@use './variables' as *;

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 0;
    padding-top: 62px;
    padding-bottom: 32px;

    >h2{
        padding-inline: 24px;
    }

    >span{
        padding-inline: 24px;
    }
}

nav{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    position:sticky;
    top: 0;
    z-index: 100;
}

button{
    border-radius: 50px;
    padding: 8px 16px;
    outline: $primary solid 2px;
    background-color: $background;
    color: $primary;
    font-family: JosefinSans;
    font-size: 1.2rem;

    &:hover{
        background-color: #3F464A;
    }
}

input{
    color: #7E8180;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    cursor: pointer;
}

.icon{
    &_mail{
        width: 32px;
        aspect-ratio: 1/1;
        background-image: url('/assets/icons/mail-default.png');
        background-repeat: no-repeat;
        background-size: contain;
        &:hover{
            background-image: url('/assets/icons/mail-hover.png');
            transition: 0.5s;
        }
    }
    
    &_git{
        width: 32px;
        aspect-ratio: 1/1;
        background-image: url('/assets/icons/git-default.png');
        background-repeat: no-repeat;
        background-size: contain;
        &:hover{
            background-image: url('/assets/icons/git-hover.png');
            transition: 0.5s;
        }
    }

    &_linkedin{
        width: 32px;
        aspect-ratio: 1/1;
        background-image: url('/assets/icons/linkedin-default.png');
        background-repeat: no-repeat;
        background-size: contain;
        &:hover{
            background-image: url('/assets/icons/linkedin-hover.png');
            transition: 0.5s;
        }
    }
}

.size{
    &_arrow{
        width: 38px;
        height: 89px;
    }
    &_button{
        width: 124px;
        height: 20px;
    }
}

.button-base{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f464a00;
    border-radius: 50px;
    border-color: $primary;
    border-width: 2px;
    padding: 16px 8px;
    outline: $primary solid 2px;
    font-family: JosefinSans;
    font-size: 1.2rem;

    &:hover{
        background-color: #3F464A;
        transition: 0.5s;
    }
}

.button-base-alt{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    border-radius: 50px;
    border-color: $primary;
    border-width: 2px;
    padding: 16px 8px;
    outline: $primary solid 2px;
    font-family: JosefinSans;
    font-size: 1.2rem;
    color: $background;

    &:hover{
        background-color: $secondary;
        transition: 0.5s;
    }
}

.only{
    &_mobile{
        display: none;
    }

    &_desktop{
        display: flex;
    }
}

.paragraph{
    width: 50%;
}

.bg{
    height: 320px;
    width: auto;
    background-image: url(/assets/img/interface-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    &:hover{
        background-image: url(/assets/img/interface-bg2.png);
        transition: 0.5s;
    }
}

.response-ani:hover{
    transform: translateY(-5px);
    transition: 0.2s;
}

.max-size{
    &_h{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_v{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.no{
    &_margin{
        margin: 0;
    }
}

@media (max-width:1100px){
    .only{
        &_mobile{
            display: flex;
        }

        &_desktop{
            display: none;
        }
    }  

    .paragraph{
        width: 80%;
    } 

    .bg{
        height: 175px;
    }
}
