@use './variables' as *;

@font-face {
  font-family: 'Anta';
  src: url('../../public/assets/fonts/Anta-Regular.ttf');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('../../public/assets/fonts/JosefinSans-Regular.ttf');
  font-weight: 100 900;
  font-style: normal;
}

h1{
    font-family: 'Anta';
    font-size: 4.8rem;
    color: $secondary;
    margin: 0 24px;
    margin-bottom: 8px;
    text-align: center;
}

h2{
    font-family: 'Anta';
    font-size: 2.5rem;
    color: $secondary;
    margin: 0 24px;
    margin-bottom: 8px;
    text-align: center;
}

a{
    cursor: pointer;
    font-family: 'JosefinSans';
    font-size: 1.6rem;
    color: $secondary;
    margin: 0;
    margin-bottom: 8px; 
    text-decoration-line: none;  
}

p{
    font-family: 'JosefinSans';
    font-size: 1.6rem;
    color: $secondary;
    margin: 0;
    margin-bottom: 8px;
}

span{
    font-family: 'JosefinSans';
    font-size: 1.4rem;
    color: $secondary;
    margin: 0;
    margin-bottom: 8px;
}

.alt-font{
    &_p{
      font-size: 3.2rem;  
    }
    
    &_b-w{
        color: $background;
        margin: 0;
        &:hover{
            color: $secondary;
            transition: 0.2s;
        }
    }
}

.color{
    &_primary{
        color: #89BCD9;
    }
}