@use '../../../styles/variables' as *;
@use '../../../styles/typography';
@use '../../../styles/basic';

.nav-container{
    width: calc(100% - 220px);
    max-width: 1440px;
    height: 104px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-text{
    width: 100px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-language{
    width: 50px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    >p{
        font-size: 1.2rem;
    }
}

.marked{
    background-image: url(../../../../public/assets/img/nav-marker.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: $secondary;
    >p{
        color: $secondary;
    }
}