<nav class="only_desktop">
    <img src="assets/logo-dark.png" alt="">
    <a (click)="markElement('why-me','nav')" class="nav-text alt-font_b-w" href="#why-me" id="why-me">Why Me</a>
    <a (click)="markElement('skills','nav')" class="nav-text alt-font_b-w" href="#my-skills" id="skills">Skills</a>
    <div (click)="markElement('projects','nav')" class="btn nav-text" id="projects"> <p class="alt-font_b-w" id="projects" >Projects</p> </div>
    <div (click)="markElement('contacts','nav')" class="btn nav-text" id="contacts"> <p class="alt-font_b-w">Contact</p> </div>
    <div class="row">
        <div (click)="markElement('DE','lan')" class="btn nav-language marked" id="DE">
            <p class="alt-font_b-w">DE</p>
        </div>
        <div (click)="markElement('EN','lan')" class="btn nav-language" id="EN">
            <p class="alt-font_b-w">EN</p>
        </div>
    </div>
</nav>