<nav class="only_desktop">
    <div class="nav-container">
        <img src="assets/logo-dark.png" alt="">
        <a (click)="markElement('nav-why-me','nav')" class="nav-text alt-font_b-w" href="#why-me" id="nav-why-me">Why Me</a>
        <a (click)="markElement('nav-skills','nav')" class="nav-text alt-font_b-w" href="#my-skills" id="nav-skills">Skills</a>
        <a (click)="markElement('nav-projects','nav')" class="nav-text alt-font_b-w" href="#my-projetcs" id="nav-projects">Projects</a>
        <div (click)="markElement('contacts','nav')" class="btn nav-text" id="nav-contacts"> <p class="alt-font_b-w">Contact</p> </div>
        <div class="row">
            <div (click)="markElement('DE','lan')" class="btn nav-language marked" id="DE">
                <p class="alt-font_b-w">DE</p>
            </div>
            <div (click)="markElement('EN','lan')" class="btn nav-language" id="EN">
                <p class="alt-font_b-w">EN</p>
            </div>
        </div>
    </div>
</nav>