<section id="my-skills">
    <h2 class="color_primary"> {{ languageCache.nav[1] }} </h2>
    <div class="orientation">
        <div class="icon_wrapper">
            @for (skills of mySkills; track $index) {
                <div class="column" [style.gap.px]="16" [style.margin.px]="16">
                    <img class="response-ani" src=" {{ skills.img }} " alt="">
                    <p class="color_primary only_desktop"> {{ skills.name }} </p>
                </div>
            }
        </div>
        <!-- Mobile view -->
        <div class="column only_mobile">
            <h3> {{ languageCache.skills[0] }} </h3>
            <div class="container" [style.gap.px]="16">
                <span class="special-paragraph alignment_left"> {{ languageCache.skills[1] }} </span>
                <div class="row bg">
                    @for (learn of currentlyLearning; track $index) {
                        <div class="column" [style.gap.px]="16" [style.margin.px]="8">
                            <img class="size_mobile" src=" {{ learn.img }} " alt="">
                            <p class="size_mobile_font"> {{ learn.name }} </p>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- Desktop view -->
        <div class="bg to-learn_wrapper">
            <p> {{ languageCache.skills[0] }} </p>
            <div class="row">
                @for (learn of currentlyLearning; track $index) {
                    <div class="column" [style.gap.px]="16" [style.margin.px]="24">
                        <img class="size_mobile" src=" {{ learn.img }} " alt="">
                        <p class="size_mobile_font"> {{ learn.name }} </p>
                    </div> 
                }
            </div>
            <span class="special-paragraph"> {{ languageCache.skills[1] }} </span>
        </div>
    </div>
</section>