<section id="why-me">
    <h2 class="color_primary"> {{ languageCache.nav[0] }} </h2>
    <div class="container" [style.gap.px]="16">
        <div class="row" [style.gap.px]="16">
            <img src="assets/icons/location.png" alt="">
            <p><a class="color_primary" href="https://maps.app.goo.gl/nwQfa3RDEsNjnmzF7" target="_blank"> {{ languageCache.wm[0] }} </a> {{ languageCache.wm[1] }} |</p>
        </div>
        <span class="paragraph"> {{ languageCache.wm[2] }} </span>
    </div>
    <div class="component_footer">
        <button class="btn only_desktop"> {{ languageCache.wm[3] }} </button>
    </div>
</section>
