<section id="why-me">
    <h2 class="color_primary">Why me</h2>
    <div class="container" [style.gap.px]="16">
        <div class="row" [style.gap.px]="16">
            <img src="assets/icons/location.png" alt="">
            <p><a class="color_primary" href="https://maps.app.goo.gl/nwQfa3RDEsNjnmzF7" target="_blank">I am</a> located in Pirmasens...|</p>
        </div>
        <span class="paragraph">Placeholder texte about my passion...Placeholder texte about my passion...Placeholder texte about my passion...Placeholder texte about my passion...</span>
    </div>
    <div class="component_footer">
        <button class="btn only_desktop">Let's talk</button>
    </div>
</section>
