<div class="legal-notice">
    <header>
        <img  class="header_icon" src="/assets/logo.png" alt="">
        <img  class="header_icon btn" src="/assets/icons/burger-menu.png" alt="">
    </header>
    <div class="main-section">
        <div>
            <a [routerLink]="['']" href="">
                <svg width="34" height="16" viewBox="0 0 34 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.07564 9.0147L7.29379 14.2713C7.57756 14.625 7.57756 15.1283 7.29379 15.4819C6.90666 15.9643 6.17236 15.9643 5.78522 15.4819L0.220966 8.54773C-0.0724487 8.18208 -0.0724525 7.66167 0.220963 7.29602L5.78522 0.361861C6.17236 -0.120589 6.90666 -0.120589 7.29379 0.361861C7.57756 0.715486 7.57756 1.21877 7.29379 1.5724L3.07564 6.82905L32.7188 6.82905C33.271 6.82905 33.7188 7.27676 33.7188 7.82905V8.0147C33.7188 8.56699 33.271 9.0147 32.7188 9.0147L3.07564 9.0147Z" fill="#89BCD9"/>
                </svg>
            </a>
        </div>
        <div>
            <h2 class="color_primary title-imprint">Privacy Policy</h2>

            <span class="title-imprint">
                1. General Information and Mandatory Information
                The operators of this website take the protection of your personal data very seriously. We treat your personal data confidentially and in accordance with the statutory data protection regulations (GDPR) and this Privacy Policy. If you use this website, various personal data will be collected. Personal data are data with which you can be personally identified. This Privacy Policy explains what information we collect and what we use it for. It also explains how and for what purpose this happens.
            </span>

            <span class="title-imprint">
                2. Controller (Responsible Party)
                The party responsible for data processing on this website (the "controller") is:
            </span>

            <p class="title-imprint">
                Bjoern Sagmeister<br>
                Dresdner Starße 12<br>
                66955 Pirmasens<br>
                Germany<br>
                Telephone: <a href="tel:01707821309">+49 1707821309</a><br>
                E-mail: <a href="mailto:bjoernsagmeister@gmail.com">bjoernsagmeister@gmail.com</a>
            </p>
            
            <span class="title-imprint">
                3. Data Collection on This Website Hosting and Server Log Files
                This website is hosted by an external service provider (netcup):netcup GmbH, Daimlerstraße 25, 76185 Karlsruhe, Germany. Personal data collected on this website is stored on the host`s servers. The provider of the pages automatically collects and stores information in so-called server log files, which your browser automatically transmits to us. These include:
            </span>

            <p>
                Browser type and browser version<br>
                Operating system used<br>
                Referrer URL (the page previously visited)<br>
                Host name of the accessing computer<br>
                Time of the server request<br>
                IP address
            </p>

            <span>
                The legal basis for this data processing is Art. 6 (1) (f) GDPR (legitimate interest in the secure, fast, and error-free operation of the website). We have entered into a Data Processing Agreement (DPA) pursuant to Art. 28 GDPR with netcup. This ensures that the host processes the personal data of website visitors strictly in accordance with our instructions and in compliance with the GDPR.
            </span>
    
            <h3 class="title-imprint">Contact me</h3>
            <span>
                If you send me an email, the data you provide (such as your email address, name, and the content of the message) will be stored by me in order to process your inquiry. I will not share this information without your consent. The processing of this data is based on Art. 6 (1) (b) GDPR if your request is related to the performance of a contract or necessary for pre-contractual measures. In all other cases, processing is based on our legitimate interest in the effective handling of inquiries addressed to us (Art. 6 (1) (f) GDPR) or on your consent (Art. 6 (1) (a) GDPR).
            </span>

            <span class="title-imprint">
                4. Your Rights Regarding Your Data
                You have the right at any time and free of charge to receive information about the origin, recipient, and purpose of your stored personal data. You also have a right to demand the correction, blocking, or deletion of this data. If you have given your consent to data processing, you can revoke this consent at any time for the future. You also have the right to lodge a complaint with the competent supervisory authority. To exercise these rights, or if you have further questions about data protection, you can contact me at any time at the address given in section 2.
            </span>

            <p>Date: 31.07.2026</p>
        </div>
    </div>
</div>
