<div class="legal-notice">
    <header>
        <img  class="header_icon" src="/assets/logo.png" alt="">
        <img  class="header_icon btn" src="/assets/icons/burger-menu.png" alt="">
    </header>
    <div class="main-section">
        <div>
            <a [routerLink]="['']" href="">
                <svg width="34" height="16" viewBox="0 0 34 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.07564 9.0147L7.29379 14.2713C7.57756 14.625 7.57756 15.1283 7.29379 15.4819C6.90666 15.9643 6.17236 15.9643 5.78522 15.4819L0.220966 8.54773C-0.0724487 8.18208 -0.0724525 7.66167 0.220963 7.29602L5.78522 0.361861C6.17236 -0.120589 6.90666 -0.120589 7.29379 0.361861C7.57756 0.715486 7.57756 1.21877 7.29379 1.5724L3.07564 6.82905L32.7188 6.82905C33.271 6.82905 33.7188 7.27676 33.7188 7.82905V8.0147C33.7188 8.56699 33.271 9.0147 32.7188 9.0147L3.07564 9.0147Z" fill="#89BCD9"/>
                </svg>
            </a>
        </div>
        <div>
            <h2 class="color_primary title-imprint">Imprint</h2>
            <p>
                Bjoern Sagmeister<br>
                Dresdner Starße 12<br>
                66955 Pirmasens<br>
                Germany<br>
                Telephone: <a href="tel:01707821309">+49 1707821309</a><br>
                E-mail: <a href="mailto:bjoernsagmeister@gmail.com">bjoernsagmeister@gmail.com</a>
            </p>
            
            <h3 class="title-imprint">Project</h3>
            <p>Portfolio</p>
            
            <h3 class="title-imprint">Copyright & Design Credits</h3>
            <span>The content and works published on this website are protected by copyright law. The web designs, layouts, and project concepts presented in this portfolio were created as part of the curriculum at Developer Akademie. The intellectual property rights for the underlying designs remain with the respective authors and Developer Akademie. The code and technical implementation were executed by me for training and demonstration purposes.</span>
            
            <h3 class="title-imprint">Liability for Content</h3>
            <span>As a service provider, I am responsible for my own content on these pages in accordance with general legislation pursuant to Section 7 (1) DDG. However, under the provisions of Regulation (EU) 2022/2065 (Digital Services Act / DSA) and Section 7 DDG, I am not obligated to monitor transmitted or stored third-party information or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use of information under general laws remain unaffected.</span>
    
            <h3 class="title-imprint">Liability for Links</h3>
            <span>This website contains links to external third-party websites over whose content I have no control. Therefore, I cannot accept any liability for this external content. The respective provider or operator of the linked pages is always responsible for their content.</span>
        </div>
    </div>
</div>