@use '../../../styles/variables' as *;
@use '../../../styles/typography';
@use '../../../styles/basic';

.contact{
    &_contacts{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 16px;
    }
    &_details{
        display: flex;
        justify-content: start;
        align-items: center;
        padding-inline: 16px;
        gap: 16px;
    }
    &_text{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        >span{
            width: 40%;
            height: auto;
        }
    }
}

.desktop-alignment{
    &_right{
        align-items: end;
    }
    &_left{
        align-items: start;
    }
}

.input{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    >p{
        font-size: 1rem;
    }

    &_base{
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_area{
        cursor: pointer;
        width: calc(100% - 128px);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3f464a00;
        border-radius: 50px;
        border-color: $primary;
        border-width: 2px;
        padding: 16px 8px;
        outline: $primary solid 2px;
        font-family: JosefinSans;
        font-size: 1.2rem;
        color: #3F464A;
    
        &:active{
            background-color: #3F464A;
            transition: 0.5s;
        }
    }
}

@media(min-width:1100px){
    .input{
        >textarea{
            width: calc(100% - 220px);
        }
    }
    #contact{
        &_name{
            align-items: end;
            padding-right: 12px;
        }
        &_email{
            align-items: start;
            padding-left: 12px;
        }
    }
}

@media(max-width:1100px){
    .contact{
        &_contacts{
            width: 100%;
            flex-direction: column-reverse;
            align-items: start;
        }
        &_details{
            padding-left: 48px;
        }
        &_text{
            flex-direction: column-reverse;
            >span{
                width: calc(100% - 64px);
            }
        }
    } 
    
    .input{
        &_base{
            flex-direction: column;
            gap: 24px;
            >p{
             width: 100%;
             text-align: left;
            }
        }
     
        &_area{
            width: calc(100% - 64px);
            max-width: 524px;
        }
     
    }
}