<section id="contact-me">
    <h2 class="color_primary">Contact me</h2>
    <div class="contact_text">
        <!-- Text to encurage people to message you -->
        <span>text text text text text text text text text text text text </span>
        <div class="contact_contacts">
            <div class="contact_details">
                <img src="assets/icons/icon_email.png" alt="" id="icon_email">
                <p class="no_margin">E-mail: onoofelo@gmail.com</p>
            </div>
            <div class="contact_details">
                <img src="assets/icons/icon _phone.png" alt="" id="icon_phone">
                <p class="no_margin">Tel: 01707821309</p>
            </div>
        </div>
    </div>
    <p class="color_primary">Let us work together!</p>
</section>