<section id="contact-me">
    <h2 class="color_primary">Contact me</h2>
    <div class="contact_text">
        <!-- Text to encurage people to message you -->
        <span>text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text </span>
        <div class="contact_contacts">
            <div class="btn contact_details">
                <img src="assets/icons/icon_email.png" alt="" id="icon_email">
                <p class="no_margin">E-mail: onoofelo@gmail.com</p>
            </div>
            <div class="btn contact_details">
                <img src="assets/icons/icon _phone.png" alt="" id="icon_phone">
                <p class="no_margin">Tel: 01707821309</p>
            </div>
        </div>
    </div>
    <p class="color_primary only_mobile">Let us work together!</p>
    <div class="input">
        <div class="input_base">
            <div class="input" id="contact_name">
                <!--<p class="only_desktop">Your name</p>-->
                <input class="input_area" type="text" value="     Your name" id="input-name">
            </div>
            <div class="input" id="contact_email">
                <!--<p class="only_desktop">Your email</p>-->
                <input class="input_area" type="text" value="     Your email" id="input-email">
            </div>
        </div>
        <textarea class="input_area" [style.border-radius.px]="25" type="text" rows="4" id="input-text">     Your message...</textarea>
        <div class="policy">
            <div (click)="checkbox('clicked')" class="btn checkbox" id="checkbox"></div>
            <p class="visible_normal">I've read the <a class="color_primary visible_normal">privacy policy</a> and agree to the processing of my data as outlined.</p>
            <a class="color_primary visible_small">privacy policy</a>
        </div>
    </div>
</section>