@use './styles/variables' as *;

html {
  scroll-behavior: smooth;
}

body{
  background-color: $background;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}